{{>/fragments/pre-content}}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-two-thirds">
        
    <h1 class="heading-xlarge">
        CCMS Beta is offline
    </h1>
    <p>
    We have taken the Beta version of CCMS offline for a while whilst we work on some modifications.
    </p>
    <p>
    We will be in touch to let you know when it will be available again.
    </p>
 
         <p>
            In the meantime, you can still manage your certificates using the main version of
            <a href="//ccms.legalservices.gov.uk/civil">CCMS</a>.
          </p>          
          <h2 class="heading-medium">Links</h2>
                <ul class="list list-bullet">
                    <li>
                        <a href="//ccms.legalservices.gov.uk/civil" class="active">
                            CCMS Home
                        </a>
                    </li>
                    <li>
                        <a href="//www.gov.uk/government/organisations/legal-aid-agency">
                            Legal Aid Agency
                        </a>
                    </li>                   
                </ul>      
        </div>
    </div>
</main>

{{>/fragments/post-content}}
